<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Rahmiddin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>A.Rahmiddin</h1>
				<nav>
					<ul>
						<li><a href="#intro">Kirish</a></li>
						<li><a href="#one">Nima qilaman</a></li>
						<li><a href="#two">Kimman</a></li>
						<li><a href="#work">Mening ishim</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Rahmiddin Asiydinov</h2>
					</header>
					<p>Mening <strong>Portfolio</strong> veb saytimga xush kelibsiz.</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Men nima qilaman</h2>
					</header>
					<p>Hozirda Front End dasturchiman va Najot ta'limda Back end kursida o'qiyapman</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Men kimman</h2>
					</header>
					<p>Andijon viloyatidan kelib qolgan, hozirda Toshkent axborot texnologiyalari universiteti 2-bosqich talabasiman )</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Mening ishim</h2>
						<p>Mening asosiy ishim Back Endda veb ilovalar ko'tarish va agar, kerak bo'lsa foydalanuvchiga, uni Front tomonini ham tiklab berish. Quyida Qilgan ishlarim bilan tanishishingiz mumkin:</p>
					</header>
                     
					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="/assets/images/fulls/youtube.png" class="image fit"><img src="/assets/images/thumbs/youtube.png" title="Youtube project" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="/assets/images/fulls/coffe.png" class="image fit"><img src="/assets/images/thumbs/coffe.png" title="Coffee Project" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="/assets/images/fulls/movie.png" class="image fit"><img src="/assets/images/thumbs/movie.png" title="Amazing movies" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="/assets/images/fulls/tindog.png" class="image fit"><img src="/assets/images/thumbs/tindog.png" title="Tindog" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="/assets/images/fulls/uybozor.png" class="image fit"><img src="/assets/images/thumbs/uybozor.png" title="Home market" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="/assets/images/fulls/todo.png" class="image fit"><img src="/assets/images/thumbs/todo.png" title="Everyday using app" alt="" /></a>
							</article>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>Menga Salom yuboring</h2>
						<p>Taklif va shikoyatlar uchun maxsus!</p>
					</header>
					<div class="box">
						<form method="POST" action="http://localhost:5001/contact">
							<div class="fields">
								<div class="field half"><input type="text" name="name" placeholder="Name" /></div>
								<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
								<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
							</div>
							<ul class="actions special">
								<li><input onsubmit="arert('Your massage is accepted')" type="submit" value="Send Message" /></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/rahmiddin_asiydinov/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.linkedin.com/in/rahmiddin-asiydinov-779075227/" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Rahmiddin </li><li></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="assets/assets/js/jquery.min.js"></script>
			<script src="assets/assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/assets/js/browser.min.js"></script>
			<script src="assets/assets/js/breakpoints.min.js"></script>
			<script src="assets/assets/js/util.js"></script>
			<script src="assets/assets/js/main.js"></script>

	</body>
</html>